body {
    border: 1px;
    position: relative;
    background-color: white;
    background: radial-gradient(circle at 40% 80%, #fb92dd, #f28449);
  
    
}
p{
    text-align: justify;
    font-family: "Swanky and Moo Moo", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
}   
h1 {
    color:rgb(254, 79, 45);
    padding-top: 20px;
}
h2 {
    padding: 20px 0px;
    color: rgb(18, 110, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
    color: rgb(254, 79, 45);
}
li {
    padding: 5px;
}
.resume{

   width: 70%;
   height: 100%;
   margin-left: 15%;
   margin-top: 20px;
   background-color: white;
   box-shadow: 0px 4px 8px rgb(0 0 0 / 60%);
   border-radius: 50px;
   padding: 30px;
}

.about{
    position: relative;
}
.project{
position:relative;
width: 50%;

}
div.edu{
  width: 80%;
  height: 100%;
  position:absolute;
  left: 100%;
  top: -20px;
  padding:0px 0px 20px 60px;
}
.tskill{
    position: relative;
}
.skill{
    position:absolute;
    top: -105px;
    left: 60%;
}
.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: relative;
  
}
.address  {
    position: absolute;
    left: 70%;
    top: -20px;
    text-align:right;

}
#circle {
    height: 200px;
    width: 200px;
    border-radius:50% ;
    background-color:rgb(210, 243, 250);
    position: absolute;
}
#circle1 {
    height: 100px;
    width: 100px;
    border-radius:50% ;
    background-color:rgb(210, 243, 250);
    position: absolute;
    left: 70%;
    top: 1100%;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
  }
  .swanky-and-moo-moo-regular {
    font-family: "Swanky and Moo Moo", cursive;
    font-weight: 400;
    font-style: normal;
  }
   .photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.5px solid;
    box-shadow: 0px 4px 8px rgba(128, 110, 110, 0.945);
    position:relative;
    right: 100px;
    top:-px
    

  }
  .photo {
    position: absolute;
    
    
  }
  .pop:hover{
    transition: transform 0.9s ease-in-out;
    transform: scale(1.9) rotate(360deg); 
  }
  
  